<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Damian</title>
</head>
<body>
Hi! I'm Damian and I work as Developer :)
Go to <a href="{% url 'index' %}">Index</a>
</body>
</html>