{% extends "base.html" %}

{% load bootstrap4 %}

{% block content %}
<h2>Login</h2>
<form method="post">
    {% csrf_token %}
    {% bootstrap_form_errors form %}
    {% bootstrap_form form layout='inline' %}
    {% buttons submit='OK' reset="Cancel" %}{% endbuttons %}
</form>
{% endblock %}

{% block bootstrap4_after_content %}
<div class="jumbotron">
  <h1 class="display-4">Footer from logins site</h1>
</div>
{% endblock %}

