{% extends 'base.html' %}

{% load bootstrap4 %}

{% block title %}Login{% endblock %}

{% block content %}
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form layout='inline' %}
    <button type="submit">Login</button>
  </form>
{% endblock %}