{% extends "bootstrap4/bootstrap4.html" %}

{% block bootstrap4_before_content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'bindex' %}">Place for nice menu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        {% if user.is_authenticated %}
        Hi {{ user.username }}!
        <a class="nav-link" href="{% url 'logout' %}">Logout</span></a>
        {% else %}
        <a class="nav-link" href="{% url 'login' %}">Login</span></a>
        {% endif %}
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'about' %}">About</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'django_registration_register' %}">Registry</span></a>
      </li>
</nav>
{% endblock %}

{% block bootstrap4_content %}
<div class="container-fluid">
    {% block content %}
    {% endblock %}
</div>
{% endblock %}

{% block bootstrap4_after_content %}
<div class="jumbotron">
  <h1 class="display-4">Place for footer</h1>
</div>
{% endblock %}