{% extends "base.html" %}

{% block content %}
Welcome in Django-Bootstrap world! :-)
Back to <a href="{% url 'index' %}">Index</a>
{% endblock %}

{% block bootstrap4_after_content %}
<div class="jumbotron">
  <h1 class="display-4">Overloaded footer place</h1>
</div>
{% endblock %}